body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
}
input {
  padding: 10px;
  margin: 10px;
  width: 200px;
  font-size: 16px;
}
button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #0056b3;
}
#weatherResult {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-align: left;
  max-width: 300px;
  font-size: 16px;
}

#weatherResult h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #007BFF;
}

#weatherResult p {
  margin: 5px 0;
}

